<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.gangbb.test.domain.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/Gangbb-admin/src/main/java" />
        <option name="javaModelPackage" value="com.gangbb.test.domain.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/Gangbb-admin/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="Gangbb-admin" />
        <option name="mapperAnnotaion" value="true" />
        <option name="modelAddEqualHashCode" value="true" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="Gangbb-admin">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.gangbb.test.domain.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/Gangbb-admin/src/main/java" />
                  <option name="javaModelPacakge" value="com.gangbb.test.domain.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/Gangbb-admin/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/Gangbb-admin/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/Gangbb-admin/src/main/java" />
                  <option name="xmlPackage" value="mappers" />
                  <option name="xmlPath" value="$PROJECT_DIR$/Gangbb-admin/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="gangbb:test-mybatis">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="TestMybatis" />
                  <option name="moduleName" value="Gangbb-admin" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="mappers" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/Gangbb-admin/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>